<%- include('../_layouts/adminheader') %>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pages</h5>
        
          <p class="card-text">add edit and delete pages and its contents</p>
        <a href="admin/pages" class="btn btn-primary">Page</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Categories</h5>
        <p class="card-text">add edit and delete categories and its contents</p>
        <a href="admin/categories" class="btn btn-primary">Categories</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <p class="card-text">add edit and delete products and its contents</p>
        <a href="admin/products" class="btn btn-primary">products</a>
      </div>
    </div>
  </div>
</div>
</div>

<%- include('../_layouts/adminfooter') %>